/* Mulish font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Mulish:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&family=Roboto+Condensed:wght@300;400;500;600;700;800;900&family=Work+Sans:wght@400;500;600;700&display=swap');
*{
    font-family: 'Mulish', sans-serif;
}
header{
    max-width: 1170px;
    margin: 0 auto;
    border: 2px solid blueviolet;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav .name-logo{
    display: flex;
    align-items: center;
}
.nav .name-logo .logo{
    width: 3rem;
    height: 3.5625rem;
}
.nav .name-logo .web-name{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
    margin: 0 0;
}
.nav .name-logo .web-name .world{
    color: #FF5400;
}
.nav-content{
    display: flex;
}
.nav-content li{
    list-style: none;
    
}
.nav-content li a{
    text-decoration: none;
}
.nav-content li .nav-home{
    color: #FF5400;
    font-size: 1.125rem;
    font-weight: 400;
}
.nav-content li .nav-btns{
    font-size: 1.125rem;
    font-weight: 400;
    margin-left: 2.75rem;
}